.attachmentButton{
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    font-family: 'David Libre', serif;
}
.attachmentButtonContainer{
    text-align: center;
    font-family: 'David Libre', serif;
    font-size: 20px;
}
.attachmentButton span{
    font-family: 'David Libre', serif;
    padding-left: 10px;
}

.closeAttachmentModal{
    text-align: right;
}

.attachmentLoadingText{
    font-family: 'David Libre', serif;
    font-size: 30px;
}
.attachment{
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
}