.roomOuterContainer{
    $barColor: #1e5162;
    .roomInnerContainer{
        position: fixed;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .messagesOuterContainer{
            flex: 1;
            padding: 10px;
            overflow-y: scroll;
            scroll-behavior: smooth;
        }
    }

    .sendingAttachmentContainer{
        .sendingMedia{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            button{
                cursor: pointer;
                background: transparent;
                border: none;
                font-size: 20px;
            }
        }
    };

    .taggedMessage{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        font-size: 18px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow: hidden;
        cursor: pointer;
        .messageBody{
            border-left: 3px solid #1e5162;
            padding-left: 5px;      
            width: 90%;      
            .author{
                color: #1e5162;
            }
            > div{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        button{
            background: transparent;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.pending-request{
    font-size: 20px;
    .request-operations{
        margin: 10px 0px;
    }
    span{
        font-weight: bold;
    }
}